@use "../helpers/variables";
.success-wrapper {
    width: 100%;
    position: fixed;
    z-index: +30;
    display: flex;
    justify-content: center;
    padding: 20px;
    .success {
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        background: variables.$yellow;
        color: variables.$purple;
        text-align: center;
    }
}

.error-wrapper {
    width: 100%;
    position: fixed;
    z-index: +30;
    display: flex;
    justify-content: center;
    padding: 20px;
    .error {
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        background: variables.$red;
        color: white;
        text-align: center;
    }
}