@use '../helpers/' as helpers;
.dashboard-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.dashboard {
    background: helpers.$purple_dark;
    width: 1000px;
    padding: 1.25rem 6.25rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding-bottom: 6.25rem;
}

.book-layout {
    border-radius: 1.25rem;
    background: helpers.$semi_purple;
    padding: 1.25rem;
    display: flex;
    gap: 1.25rem;
}

.book-div {
    width: 100%;
}

.book-cover {
    width: 9.375rem;
    height: 14.2044rem;
    background: helpers.$purple_dark;
    flex-shrink: 0;
}

.book-info-layout {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
}

.book-title {
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

.book-author {
    color: white;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}

.book-category {
    color: white;
    font-size: 1rem;
    color: helpers.$red;
}

.book-year {
    color: white;
    font-size: 1rem;
    color: white;
}

.book-buttons-layout {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 70px;
    width: calc(100%)
}

.search-layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .625rem;
    padding-bottom: .625rem;
}

.search-floating-btn-layout {
    width: 8rem;
    position: relative;
}

.library-title-layout {
    padding: 1.875rem;
    h2 {
        text-align: center;
    }
}

.floating-filter-layout {
    position: relative;
    width: 0;
    height: 0;
    .floating-filter-div {
        position: absolute;
        width: 180px;
        background: helpers.$purple;
        padding: 1.25rem 0;
        border-radius: 1.25rem;
        margin-left: -10.9375rem;
        margin-top: 3.125rem;
        li {
            width: 100%;
            padding: .625rem 0;
            cursor: pointer;
            list-style: none;
            text-align: center;
        }
        li:hover {
            background: helpers.$purple_dark;
        }
    }
}

@media screen and (max-width: 850px) {
    .dashboard {
        background: helpers.$purple_dark;
        width: 100%;
        padding: 1.25rem 1.25rem;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .book-buttons-layout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-top: 1.25rem;
        button {
            width: 100%;
        }
    }
    .book-cover {
        width: 9.375rem;
        height: 14.2044rem;
        background: helpers.$purple_dark;
        flex-shrink: 0;
    }
    .search-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}