// Color variables
$purple: #2B1E3E;
$purple_dark: #1C1428;
$semi_purple: #231B2E;
$red: #F63F3F;
$yellow: #F2B705;
$white: white;
// Typography variables
$segoeUI: '../fonts/segoeui.ttf';
$segoeUI_bold: '../fonts/segoeuib.ttf';